* {
    margin: 0;
    padding: 0;
}

.chatting-box{
    border: 1px solid #f7323f;
    border-radius: 10px;
    margin-bottom: 100px;
}

.container h1 {
    text-align: left;
    padding: 5px 5px 5px 5px;
    color: #FFBB00;
    border-left: 3px solid #FFBB00;
    margin-bottom: 20px;
}

div.chatlist{
    width: 100%;
}

.room-name-box{
    width: 100%;
    color: #f7323f;
    margin: 10px 10px 10px 10px;
}

.chating {
    width: 100%;
    height: 500px;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    word-wrap: break-word;
}
.chating .me-box{
    text-align: right;
    max-width: 70%;
    border-radius: 5px;
    background-color: #FFE400;
    padding: 0 10px 0 10px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chating .others-box{
    text-align: left;
    max-width: 70%;
    border-radius: 5px;
    background-color: #f7323f;
    padding: 0 10px 0 10px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chating .me {
    color: #000;

}

.chating .others {
    color: #FFE400;
}

#yourMsg {
    display: none;
}

.msgImg {
    width: 200px;
    height: 125px;
}

.clearBoth {
    clear: both;
}

.img {
    float: right;
}
div.footer-outline-box{
    background-color: #F6F6F6;
    border-radius: 0 0 10px 10px;
}
div.messagefooter{
    margin-top: 10px;
}
.messagefilepreview {
    position: inherit;
    background: white;
    box-shadow: 0px 0px 10px lightgray;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 100px;
    display: inline-flex;
    align-items: center;
    bottom: 0;
    margin-bottom: 55px;
    z-index: 5;
    /* display: none; */
}

.messagefilepreview div {
    height: 75px;
    margin: 0 auto;
    margin-left: 15px;
    display: inline-flex;
    align-items: flex-end;
}

.messagefilepreview img {
    height: 75px;
}

.messagefilepreview span {
    cursor: pointer;
}

div.chatemoji{
    vertical-align: center;
}

div.chatupload{
    cursor: pointer;
}

.emoji_i{
    font-size: 2em;
}

div.chatinputbox{
    width: 100%;
}

input{
    width: 90%;
    word-wrap: break-word;
}

#sendBtn{
    cursor: pointer;
    font-size: 1.5em;
}

